<head>
	<script src="/js/pvsz/Picturecollection.js"> </script>
	<script src="/js/pvsz/plantscollection.js"> </script>
	<script src="/js/pvsz/bulletscollection.js"> </script>
	<script src="/js/pvsz/objectcollection.js"> </script>
	<!-- <script src="/js/pvsz/Animation.js" /> --!> -->
	<script src="/js/pvsz/Game_object.js"> </script>
	<script src="/js/pvsz/Subfunctions.js"> </script>
	<script src="/js/pvsz/Seedcollection.js"> </script>
	<script src="/js/pvsz/PvsZ.js"> </script>
</head>
<body onload = go();>
	<p id="suns"> Suns: 0 </p>
	<canvas id="can" width = 800; height = 600></canvas>
</script>
</body>
